@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */

/* START: STATS styles  */
.stat__title {
  @apply leading-[50px] text-[50px]  font-extrabold ml-4;
}

.stat__subtitle {
  @apply text-[16px] text-gray-500 font-light mt-5 ml-4;
}

.stat__brand-title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}
/* END: STATS styles  */

/* START: Basic styles */
.basic {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.basic__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.basic__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.basic__image-container {
  @apply xl:flex-[1.5] hidden lg:flex justify-end items-end w-full xl:h-screen;
}

.basic__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[600px] z-0;
}

.basic__image-overlay {
  @apply absolute xl:-top-24 -inset-right-21 -right-1/4 bg-right-bg  -z-10 w-full xl:h-inherit xl:w-banner h-[590px] bg-repeat-round overflow-hidden;
}
.basic__para {
  @apply mt-6 mb-2 leading-6
}

.basic__para-title {
  @apply 2xl:text-[50px] sm:text-[32px] text-[24px] font-extrabold mt-10;
}
/* END: Basic styles */

/* START: Service Card styles */
.service-card {
  @apply flex flex-col p-6 justify-center  text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.service-card__content {
  @apply w-full flex justify-center gap-2;
}

.service-card__content-title {
  @apply text-[20px] leading-[26px] font-bold capitalize;
}

.service-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.service-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.service-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.service-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.service-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.service-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.service-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.service-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}
/* END: Service Card styles */

/* START: Service Card styles */
.brand-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-salmon-pink-default hover:bg-white hover:shadow-md rounded-3xl;
}

.brand-card__content {
  @apply w-full flex justify-center items-center gap-2;
}

.brand-card__content-title {
  @apply text-[26px] leading-[32px] font-bold capitalize;
}

.brand-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.brand-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.brand-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.brand-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.brand-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.brand-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.brand-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.brand-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}
/* END: Service Card styles */


/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__services-wrapper {
  @apply grid 2xl:grid-cols-3 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}
/* END: Home styles */